.pagination_list {
  display: flex;
  justify-content: center;
  margin: 40px;
  list-style: none;
  .pagination_list_item {
    padding: 3px 0;
    background-color: #ffffff50;
    margin: 0px 5px;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
    user-select: none;
    text-align: center;
    transition-property: filter, transform, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }
  .pagination_list_item_number {
    padding: 5px 10px;
  }
  .pagination_list_item.active_page {
    background-color: #ff6046;
  }
}
