.table_wrapper {
  position: absolute;
  top: -300px;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  .table_content {
    width: 100%;
    z-index: 999;
    position: relative;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    tr {
      height: 45px;
    }
  }
}
.show {
  opacity: 1;
  top: 0;
  transition: 0.3s;
}
.table_wrapper:after {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}
