.search_panel {
  display: flex;
  align-items: center;
  background-color: #25282a;
  width: 250px;
  height: 50px;
  margin-left: 15px;
  input {
    height: 30px;
    width: 100%;
    border: 0px solid transparent;
    background-color: #25282a;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 4px;

    &:focus {
      background-color: #505050;
    }
  }
}
