@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #282c34;
  color: #fff;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  background-image: url(../src/assets/img/greyfade.jpg);
}

a {
  color: #fff;
  text-decoration: none;
}
