.players_team {
  .players_team_title {
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
  }
  .players_team_title_name {
    font-size: 20px;
    padding: 7px 0;
    text-align: center;
    &:hover {
      color: #ff6046;
    }
  }
}
.teams_block_item:hover {
  transition: 0.3s;
  box-shadow: 1px 1px #ff6046, 2px 2px #ff6046, 3px 3px #ff6046, 4px 4px #ff6046, 5px 5px #ff6046,
    6px 6px #ff6046, 7px 7px #ff6046;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
