.teams_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teams_item_name {
  font-size: 42px;
  font-weight: 600;
}
.teams_item_chart {
  display: flex;
  align-items: center;
  padding: 30px 0;
  .teams_item_chart_value_wrapper {
    margin-left: 40px;
  }
  .teams_item_chart_text {
    fill: #fff;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  .teams_item_chart_number {
    font-size: 26px;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
  }
  .teams_item_chart_label {
    font-size: 16px;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
  }

  .teams_item_chart_value {
    position: relative;
    margin: 5px 0;
    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: -25px;
      top: 2px;
      background: #78be1b;
      border-radius: 50%;
    }
  }
  circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #ff6046;
    stroke-width: 15;
    stroke-dasharray: 408px 408px;
  }
  circle:nth-child(2n) {
    fill: rgba(0, 0, 0, 0);
    stroke: #78be1b;
    stroke-width: 15;
  }
}

.teams_item_chart_value:nth-child(2)::before {
  background: #ff6046;
}
